.service-cards__section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 30px 0;
}

.service-cards__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  /* flex-direction: column;
  justify-content: space-between; */
  max-width: 100%;
  row-gap: 20px;
  column-gap: 15px;
}

@media (min-width: 992px) {
  .service-cards__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.service-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  max-height: 250px;
  border-radius: 20px;
  overflow: hidden;
}

.service-card__img {
  overflow: hidden;
}

.service-card__img img {
  height: 100%;
  width: auto;
}

.service-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #f6f6f6;
  overflow: hidden;
  padding: 28px;
}

.service-card__list {
  padding-left: 16px;
  font-size: 16px;
}

.service-card__list li {
  list-style: disc;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.service-card__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 98.69%;
}
