* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a {
    color: #122ac0;
    font-weight: 500;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    overflow-wrap: anywhere;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

.navbar {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 37px;
}

.navbar__column {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}

.navbar-logo {
    height: 100%;
}

.navbar-menu__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-menu {
    all: unset;
    display: flex;
    flex-direction: row;
    gap: 39px;
    font-family: 'Open Sans', sans-serif;
}

.navbar-menu__item {
    all: unset;
    word-wrap: none;
    font-size: 16px;
    line-height: 140%;
}

.navbar-menu__item a {
    text-decoration: none;
    word-wrap: none;
    color: black;
}